---
import Main from "../layouts/Main.astro"
import Cards from "../components/Cards.astro";
const profilePicture = "/public/images/myself.jpg"

---

<Main title="Fernando Valerio">
	<div class="profile">
		<img class="profile__picture" src={profilePicture} alt="Fernando Valerio's Website" width="100px" height="100px" >
		<div class="profile__details">
			<h1>Fernando Valerio</h1>
			<h2>Front End Engineer at Nobee</h2>
			<p>Hi, I'm Fernando Valerio, a Front End Engineer at Nobee. I'm a passionate learner and a self-taught developer. I love to learn new things and share my knowledge with others.</p>
		</div>
	</div>
	<Cards cards={[
		{
			title: "My life phylosophy",
			gradientFrom: "#FDC830",
			gradientTo: "#F37335",
			to: "/philosophies",
		},
		{
			title: "Best article of the month",
			gradientFrom: "#4CA1AF",
			gradientTo: "#C4E0E5",
			to: "/beyond-tech",
		},
		{
			title: "My work and projects",
			gradientFrom: "#FFEFBA",
			gradientTo: "#FFFFFF",
			to: "/work-summary",
		},
	]}/>
</Main>

<style>
	.profile{
		display: flex;
		align-items: start;
		flex-wrap: wrap;
		padding: 1rem 0 3rem 0;
	}

	.profile__details{
		flex: 1 0 300px;
	}

	.profile__details > h1{
		margin-top: 0;
	}

	.profile__picture{
		border-radius: 50%;
		margin:0 2rem 1rem 0;
	}
</style>